@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.ModalWrapper {
  width: 100%;
  height: 100vh;
  background: rgba(94, 114, 228, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.areYouSureModal {
  width: 400px;
  min-height: 200px;
  background: rgba(52, 57, 87, 0.7);
  backdrop-filter: blur(24px);
  color: #e7e7e7;

  border-radius: 12px;
  /* border: 1px solid rgb(85, 85, 85); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
  padding-bottom: 10px;
  overflow: hidden;
  gap: 25px;
}
.areYouSureModal span {
  font-size: 24px;
  font-weight: 500;
}
.areYouSureModalNav {
  width: 100%;
  height: 40px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  border-radius: 12px 12px 0px 0px;
  /* background-color: rgb(46, 46, 46); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.areYouSureModalNavSec {
  width: 100%;
  height: 40px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  /* background-color: rgb(46, 46, 46); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.areYouSureModalNavSec span {
  font-size: 18px;
  font-weight: 500;
  color: #e7e7e7;
  margin-left: 11px;
}
.areYouSureModalNav span {
  margin-left: 11px;
  font-size: 18px;
  font-weight: 500;
  color: #e7e7e7;
}
.crossCollapse {
  /* position: absolute; */
  margin-right: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #343957;
  filter: blur(0px);
  /* right: 6px;
  top: 6px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.crossCollapse .fas {
  color: #e7e7e7;
  font-size: 18px;
}
.modalBtnsWrap {
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
.modalCancleBtn,
.modalConfirmBtn {
  /* padding: 8px 16px; */
  /* background-color: turquoise; */
  width: 45%;
  height: 36px;
  border-radius: 9px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalCancleBtn {
  background: rgba(255, 22, 22, 0.75);
  filter: blur(0.1px);
  backdrop-filter: blur(5px);
  /* color: white; */
}
.modalConfirmBtn {
  background: rgba(126, 211, 33, 0.75);
  filter: blur(0.1px);
  backdrop-filter: blur(5px);
}
.fieldinputsModel {
  width: 80%;
  /* height: 50px; */
  /* background-color: #e7e7e7; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fieldinputsModel span {
  font-size: 16px;
}
.inputBrandModel,
.inputModelModel,
.inputPriceModel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border-radius: 6px;
  border: none;
  outline-style: none;
  padding-left: 10px;
  height: 30px;
  background: rgba(255, 255, 255, 0.71);
  font-size: 16px;
  font-weight: 700;
  color: #343957;
}
.modalUpdateBtn {
  width: 45%;
  height: 30px;
  border-radius: 9px;
  color: rgba(126, 211, 33, 0.75);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(126, 211, 33, 0.75);
  font-weight: bold;
}
.modalUpdateBtn:hover {
  background: rgba(126, 211, 33, 0.75);
  color: white;
  font-weight: 500;
}
.vehicleDetailDisplayModel {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  background-color: #ffffff30;
  padding: 16px 6px;
  border-radius: 6px;
}
.detailDisplayInfo {
  display: flex;
  flex-shrink: 0;
  gap: 4px;
  align-items: center;
}
.detailTitle {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #ffffffe3;
  letter-spacing: 0.06em;
}
.detailData {
  font-size: 16px !important;
  font-weight: normal !important;
  color: #ffffffe3;
}
